@model WebFormForAirportPassengerRegistry.FlightTicket

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FlightTicket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlightTicketId" />
            <div class="form-group">
                <label asp-for="LuggageVolume" class="control-label"></label>
                <input asp-for="LuggageVolume" class="form-control" />
                <span asp-validation-for="LuggageVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuggageWeight" class="control-label"></label>
                <input asp-for="LuggageWeight" class="form-control" />
                <span asp-validation-for="LuggageWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seat" class="control-label"></label>
                <input asp-for="Seat" class="form-control" />
                <span asp-validation-for="Seat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightId" class="control-label"></label>
                <select asp-for="FlightId" class="form-control" asp-items="ViewBag.FlightId"></select>
                <span asp-validation-for="FlightId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisaId" class="control-label"></label>
                <select asp-for="VisaId" class="form-control" asp-items="ViewBag.VisaId"></select>
                <span asp-validation-for="VisaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerId" class="control-label"></label>
                <select asp-for="PassengerId" class="form-control" asp-items="ViewBag.PassengerId"></select>
                <span asp-validation-for="PassengerId" class="text-danger"></span>
            </div>
            <br/>
			<div class="form-group">
				<a class="btn btn-secondary" asp-action="Index">Back to List</a>
                <input class="btn btn-warning" type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>
