@model WebFormForAirportPassengerRegistry.Passenger

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Passenger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PassengerId" />
            <div class="form-group">
                <label asp-for="Citizenship" class="control-label"></label>
                <input asp-for="Citizenship" class="form-control" />
                <span asp-validation-for="Citizenship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthplace" class="control-label"></label>
                <input asp-for="Birthplace" class="form-control" />
                <span asp-validation-for="Birthplace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Residency" class="control-label"></label>
                <input asp-for="Residency" class="form-control" />
                <span asp-validation-for="Residency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Communication" class="control-label"></label>
                <input asp-for="Communication" class="form-control" />
                <span asp-validation-for="Communication" class="text-danger"></span>
            </div>
			<div class="form-group">
                <br/>
				<a class="btn btn-secondary" asp-action="Index">Back to List</a>
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>
