@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Error";
}
<div style="">
	<h2>An error occured while deleting <i class="fa-solid fa-triangle-exclamation"></i></h2>

    <p>You are trying to delete an ellement that is refferensed by another object.</p>
    <p>Delete refferensing object and try again.</p>
	<a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
