@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is main page of cource work. To get access to tables select required on in navbar.</p>
    <p>All CRUD opperations are supported.</p>
    
</div>
<div class="list-group ">
    <a class="list-group-item list-group-item-action" asp-controller="Passengers" asp-action="Index">Passengers</a>
    <a class="list-group-item list-group-item-action" asp-controller="Flights" asp-action="Index">Flights</a>
    <a class="list-group-item list-group-item-action" asp-controller="FlightTickets" asp-action="Index">Flight Tickets</a>
    <a class="list-group-item list-group-item-action" asp-controller="Searches" asp-action="Index">Searches</a>
    <a class="list-group-item list-group-item-action" asp-controller="Visas" asp-action="Index">Visas</a>
    <a class="list-group-item list-group-item-action" " asp-controller="Terminals" asp-action="Index">Terminals</a>
</div>
